@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-div {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.line-clamp-div > p {
  display: inline;
  margin-bottom: 0;
}

.carousel-banner-card,
.promotionary-article-card {
  -webkit-line-clamp: 2;
}

.latest-news-card,
.article-card {
  -webkit-line-clamp: 3;
}

.article_feed > a {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.sticky-nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

.sticky-nav.sticky {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow when sticky */
}

/* Hide scrollbars for overflow-x-auto */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
