@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fffdf2;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-div {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.carousel-banner-card, .article-card {
  -webkit-line-clamp: 3;
}

.promotionary-article-card {
  -webkit-line-clamp: 2;
}
